#content{
	text-align:left;
}
input{
	margin:10px 0;
}
h2, h3, h4, h5{
	clear:both;
}
h3{
	font-size:1.3em;
}
h5{
	font-weight:normal;
	font-style:italic;
}
p{
	margin:10px 0;
}
ul{
	margin:15px 0;
}
li{
	margin-left:10px;
}
a{
	color:#000;
}

li{
	list-style: none;
}

.topo_art,  
.menu_access_ref, 
header,
footer{
	display: none;
}