<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteRule    ^$ app/webroot/    [L]
	RewriteRule    (.*) app/webroot/$1 [L]
	
	php_value upload_max_filesize 90M 
	php_value memory_limit 150M 
	php_value post_max_size 200M
</IfModule>